/* Login Form */
.login-form {
     padding: 5rem 0;
     max-width: 50rem;
     margin: 5rem auto;
   }
   
   .login-form form {
     display: flex;
     flex-direction: column;
   }
   .login-form form .buttons {
     margin-top: 1rem;
   }
   
   .login-form form button {
     outline: none;
     border: none;
     font-size: 1.6rem;
     padding: 1rem 3rem;
     margin-right: 1.5rem;
     background-color: var(--green);
     color: white;
     cursor: pointer;
   }
   
   .login-form form p a {
     color: dodgerblue;
   }

.gogl-btn i {
     color:rgb(173, 75, 75);
     padding-right: 1rem;
}
.gogl-btn a{
     color:white;
}   